@font-face 
  font-family: "SFUIDisplay"
  src: url("http://collazyer.ru/fonts/SFUIDisplay-Bold.otf")format("opentype")
  font-style: normal
  font-weight: bold
@font-face 
  font-family: "SFUIDisplay"
  src: url("http://collazyer.ru/fonts/SFUIDisplay-Regular.otf")format("opentype")
  font-style: normal
  font-weight: normal
body
  font-family: SFUIDisplay, Arial, sans-serif

a
  color: #000
a:link
  a &:hover
    text-decoration: none

input[type=submit]
  cursor: pointer

p
  font-size: inherit
  font-family: inherit
  line-height: inherit
//h1
//h2
//h3
//h4
//ul
  //li
//ol
  //li