/design/
/collazyer-design_svg/
/build/
/node_modules/
*.docx
*.doc
*.tmp
.sass-cache/
/html/
gulpfile.js
package.json
.viminfo
/backend/.venv/
/backend/__pycache__/
__pycache__
__init__
/backend/collazyer_backend/.__init__.py.swp
/backend/collazyer_backend/__init__.py 
