/design/
/.cache/
/.config/
.gitignore.swp
/.ssh/
/collazyer-design_svg/
/build/
/node_modules/
*.docx
*.doc
*.tmp
.sass-cache/
/html/
gulpfile.js
package.json
.viminfo
/backend/.venv/
/backend/__pycache__/
__pycache__
__init__
