extends ./layout/base.pug
block header
	.subdomain.inner
		.logo
			a(href="/")
				img(src="http://collazyer.ru/img/logo_technopark.png",alt="")
		.contacts
			.contacts-inner
				.phone(href="tel:+79393748987")
					span Телефон: 
					a(href="tel:+79393748987") +7 (8342) 33-35-33
				.email
					span E-mail: 
					a(href="mailto:tpm-13@yandex.ru") tpm-13@yandex.ru
				.address
					span Адрес:
					|  430034, Республика Мордовия г. Саранск, ул. Лодыгина, 3
block banner
	.slider-subdomain
		ul
			li
				img(src="http://collazyer.ru/img/slider2.JPG",alt="")
			li
				img(src="/img/slider1.JPG",alt="")
			li
				img(src="http://collazyer.ru/img/slider3.jpg",alt="")
		.globally-wrap
			.text-globally
				span Центр проектирования инноваций
block breadcrumb
block content
	.content.subdomain
		.inner
			.about-company
				h2 Центр проектирования инноваций
				.float-wrap
					.imgblock
						.buttons
							.stop
							.start
					p Центр проектирования инноваций – объект технопарка, предоставляющий комплекс средств технологической поддержки производства прототипов инновационных продуктов. В центре реализован технологический процесс, на входе которого предложения – результаты НИОКР, а на выходе - прототип изделия.
					p Центр предоставляет услуги по проектированию изделий. Компания – резидент технопарка, создавая новый продукт, концентрирует свою работу над разработкой принципиальных узлов, составляющих его инновационную ценность. При этом вся внешняя работа по проектированию периферийной части (конструкции, программной составляющей, дизайна) передается центру.
					p Центр выполняет полный комплекс услуг от разработки макета изделия, встроенного программного обеспечения, выбора поставщика комплектующих (региональный центр субконтрактации) до изготовления и тестирования опытного образца. Заказчиками центра являются малые предприятия, созданные на базе промышленных предприятий республики, а также компании-резиденты технопарка.
					p Структурно ЦПИ состоит из:
					p - САПР-центра;
					p - СОФТ-центра;
					p - Центра субконтрактации;
					p - Научно-испытательного центра.
					p САПР-центр осуществляет разработку систем проектирования, производства, модернизации изделий и процессов на основе CALS-технологий.
					p СОФТ-центр осуществляет проектирование и реализацию информационной составляющей программно-управляемых технологических процессов.
					p В центре субконтрактации осуществляется подбор технологических решений для реализации задач производства прототипов и разработка оптимальных логистических схем поставки комплектующих.
					p Научно-испытательный центр (НИЦ) проводит экспертизу инновационных решений и включает лаборатории:
					p - электромагнитной совместимости;
					p - климатических испытаний;
					p - механических испытаний.
					p Общая площадь объекта –3991 кв. м
			.need-require
				.float-wrap
					.need
						h2 У нас есть:
						ul
							li Радиочастотная безэховая камера
							li ЧПУ станки
							li 3D-принтер
							li Набор микроконтроллеров
					.require
						h2 Нам требуются:
						ul
							li Фрезерный станок
			.blocks-diff
				.img-rotate
				.one-news
					a.no-dec(href="/news")
						h2 Новости
					.news-block
						img(src="http://collazyer.ru/img/new.jpg",alt="")
						.title-news АУ "ТЕХНОПАРК-МОРДОВИЯ" ПРОВОДИТ АУКЦИОН НА ПРАВО ЗАКЛЮЧЕНИЯ ДОГОВОРА АРЕНДЫ НЕДВИЖИМОГО ИМУЩЕСТВА
						|Извещение о проведении аукциона на право заключения договора аренды недвижимого имущества Автономное учреждение «Технопарк - Мордовия» сообщает о проведении 24 июня 2016 года аукциона на право заключения договора аренды государственного недвижимого имущества, расположенного по адресу: Республика Мордовия, г. Саранск, ул. Лодыгина, д. 3, закрепленного за АУ «Технопарк - Мордовия» на праве оперативного управления
						.date
							|03.06.2016г
						a.read-more(href="#")
							|Читать далее
					.news-block
						img(src="http://collazyer.ru/img/new.jpg",alt="")
						.title-news АУ "ТЕХНОПАРК-МОРДОВИЯ" ПРОВОДИТ АУКЦИОН НА ПРАВО ЗАКЛЮЧЕНИЯ ДОГОВОРА АРЕНДЫ НЕДВИЖИМОГО ИМУЩЕСТВА
						|Извещение о проведении аукциона на право заключения договора аренды недвижимого имущества Автономное учреждение «Технопарк - Мордовия» сообщает о проведении 24 июня 2016 года аукциона на право заключения договора аренды государственного недвижимого имущества, расположенного по адресу: Республика Мордовия, г. Саранск, ул. Лодыгина, д. 3, закрепленного за АУ «Технопарк - Мордовия» на праве оперативного управления
						.date
							|03.06.2016г
						a.read-more(href="#")
							|Читать далее
			a.button.add-idea(href="#") Предложить идею проекта
block footer
	.subdomain.inner
		.logo
			a(href="/")
				img(src="http://collazyer.ru/img/logo_technopark.png",alt="")
		.contacts
			.contacts-inner
				.phone(href="tel:+79393748987")
					span Телефон: 
					a(href="tel:+79393748987") +7 (8342) 33-35-33
				a.email(href="mailto:e-mail: tpm-13@yandex.ru")
					span E-mail:
					|  tpm-13@yandex.ru
				.address
					span Адрес:
					|  430034, Республика Мордовия г. Саранск, ул. Лодыгина, 3