doctype html
html
	head
		meta(content='text/html', charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title
		meta(description='' content='')
		meta(keywords='' content='')
		link(rel="stylesheet" href="http://collazyer.ru/css/screen.css")
	body
		.wrapper
			header
				block header
					.inner
						.logo
							a(href="/")
								img(src="/img/template/logo.png",alt="")
						a.button.login(href="#")
							span login
						a.button.collisions(href="#")
							span collisions
						a.button.register(href="#")
							span register
			block banner
				.banner-top
			.container
				.inner
					block breadcrumb
						.breadcrumbs
							a(href="/")
								span Главная
							span
								block PageBread
									|Инерная
					block leftMenu
					block content				
					.clear
		footer
			.inner
				block footer
					.logo
						a(href="/")
							img(src="/img/template/logo-footer.png")
					.copyright
						|All rights reserved. Collazyer 2016 - 2017
		script(src="http://collazyer.ru/js/scripts.js")
		block ModalWindow