block header
	.inner
		.logo
			a
				img(src="/img/template/logo.png",alt="")
		a.button.login(href="#")
			span login
		a.button.collisions(href="#")
			span collisions
		a.button.register(href="#")
			span register